body {
    margin: 0;
    padding: 0;
    height: 100%;
    
}

#logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

#logo img {
    width: 250px;
    position: absolute;
    left: 280px;
    top: 140px;
}

.contenu {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(datejust.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    margin-top: 5px;
    color: #b08004;
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    position: absolute;
    left: 360px;
    top: 300px;
}

h2 {
    margin-top: 50px;
    color: rgb(176, 128, 4);
    margin-bottom: 0px;
    position: absolute;
    left: 385px;
    top: 460px;
}

/* L'heure */
#heure {
    font-size: 80px;
    color: red;
    margin: 30px;
    position: absolute;
    left: 250px;
    top: 340px;
}

/* l'alarme */
input {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    position: absolute;
    left: 280px;
    top: 540px;
}

/* Le bouton */
button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #127749;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 420px;
    top: 555px;
}

button:hover {
    background-color: #b08004;
}

/* Le message d'alarme */
#message {
    font-size: 20px;
    color: red;
    margin-top: 20px;
}

